@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200;400&display=swap');

:root {
  --icon-size: 30px;
  --vallarta-blue: #306090;
  --lavender-grey: #c0c0d8;
  --snow-flake:    #f0f0f0;
  --sefid-white:   #fff0f0;
  --moegi-green:   #f09078;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body { 
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

li {
  list-style-type: none;
  height: 40px;
}

ul {
  padding-left: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo > img.icon {
  width: calc(var(--icon-size) + 20px);
}

img.icon {
  width: var(--icon-size);
  filter: brightness(0) invert(1);
}

.container {
  box-sizing: border-box;
  width: 100;
  height: 100%; 
  display: grid;
  grid-template-columns: 300px 3fr;
  grid-template-rows: 185px 4fr
}

.dashboard {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background: var(--vallarta-blue);
  grid-row: 1 / 3;

  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dashboard a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .icon {
  filter: brightness(0);
}

.header .profile-pic {
  width: calc(var(--icon-size) + 25px);
  height: calc(var(--icon-size) + 25px);
  border-radius: 50%;
}

.mini-profile .profile-pic {
  width: calc(var(--icon-size) + 10px);
  height: calc(var(--icon-size) + 10px);
  border-radius: 50%;
}

.header {
  width: 100%;
  background: var(--lavender-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  column-gap: 30px;
  row-gap: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 300px;
  grid-template-rows: repeat(2, 1fr);
}

.search-bar,
.mini-profile,
.greetings{
  display: flex;
  align-items: center;
}

.mini-profile,
.buttons {
  justify-self: end;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

.mini-profile, .buttons {
  justify-self: center;
}

.search-bar {
  gap: 15px;
}

.search-bar input {
  width: 100%;
  background-color: white;
  height: calc(var(--icon-size) + 10px);
  border-radius: 20px;
  border: none;
  padding-left: 10px;
}

.greetings {
  display: flex;
  gap: 20px;
}

.greetings div p:first-child {
  font-size: 15px;
}

.greetings div:last-child {
  font-size: 20px;
  font-weight: bold;
}

.greetings a.profile-link {
  color: black;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.buttons button {
  color: white;
  padding: 8px 20px;
  background-color: var(--vallarta-blue);
  border: var(--vallarta-blue);
  border-radius: 30px;
}

button:hover {
  background-color: #18293a;
}

button:active {
  background-color: #287ccf;
}

.content {
  background: var(--sefid-white);
}

.content-container {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
}

.content-container > div{
  padding: 20px;
}

.projects {
  padding: 20px 50px !important;
  grid-area: 1 / 1 / 3 / 2;
}

.announcement { grid-row: 1 / 2; }
.trending  { grid-row: 2 / 3; }

#myProjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
}

.icon-project > img {
  width: var(--icon-size);
}

.mini-icon {
  width: var(--icon-size);
}

.proj {
  box-sizing: border-box;
  border-left: 5px solid var(--moegi-green);
  border-radius: 20px;
  height: 300px;
  background-color: white;
  position: relative;
  padding: 10px;
}

.proj:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.icon-project {
  position: absolute;
  bottom: 0px;
  right: 10px;
  display: flex;
  gap: 15px;
}

.content-sidebar {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content h2 {
  padding-bottom: 10px;
}

.content-sidebar p{
  font-size: smaller;
}


.content-announce,
.trending-persons {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trending-persons {
  gap: 15px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}
.description {
  color: grey;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width:768px) {
  body {overflow-x: auto;}

  .buttons {
    gap: 15px;
    margin-right: 30px;
  }
  .buttons button {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
  }
}